:root{
    --yellow: rgba(218, 255, 7, 0.92)
}

.info{
    display: inline-block;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    margin-left: auto;
    color: black;
    background-color: var(--yellow);
}
.flex{
display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fh{
    height: 100%;
    background-color: green;
}
.auto{
    height: auto;
}
.borderYellow{
    border-color: var(--yellow);
}
.textyellow{
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: bold;
}
.small {
    font-size: smaller;
}
