:root{
    --yellow: #ff851b;
    --white: #ffffff;
}

.info{
    display: inline-block;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    margin-left: auto;
    color: var(--yellow);
    background-color: var(--white);
}
.flex{
display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fh{
    height: 100%;
    background-color: green;
}
.auto{
    height: auto;
}
.borderYellow{
    border-color: var(--white);
}
.textyellow{
    background-color: var(--yellow);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}
.small {
    font-size: smaller;
}
.heading{
    text-align: center;
    padding:2px;
    background-color: rgb(12, 12, 12);
    color:var(--white);;
}
.Dashsubheading{
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    background-color: blueviolet;
    text-align: center;
}
.periodHeading{
    margin-bottom: 0pt;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: var(--yellow);
}
.marginLeft{
    margin-left: 50px;
}

@media only screen and (max-width: 900px) {
    .mycontainer{
    display: flex;
    flex-direction: column;    
    }
    .marginLeft{
        margin-left: 0px;
    }
}