.matrixSettings{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(226, 198, 43);
    background-color: blueviolet;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 30px;
}

.TechnicianID{
    display: block;
    color: rgb(15, 15, 15);
    font-weight: 500;
}
u{
    color: yellow;
    padding-bottom: 10px;
}